<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mainpage.css" />
    <title>沧县医院WORKLOG</title>
</head>

<body>
    <div class="topbox float">
        <div class="logo float">
            <span>
                <a href="#">沧县医院</a>
            </span>
        </div>
        <div class="float">
            <div class="menubox float">
                <center>
                    <ul>
                        <li>
                            <a href="#">工作日志</a>
                        </li>
                        <li>
                            <a href="#">设置</a>
                        </li>
                        <li>
                            <a href="#">XX</a>
                        </li>
                        <li>
                            <a href="#">XX</a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
    <div style="width: 1900px;">
        <span class="logbox logtext">
            <form style="width: 450px" action="">
                <div class="loginput">
                    <label for="date">日期</label>
                    <input type="text" name="" id="date">
                </div>
                <div class="loginput">
                    <label for="start">开始时间</label>
                    <input type="text" id="start">
                </div>
                <div class="loginput">
                    <label for="place">科室</label>
                    <input type="text" id="place">
                </div>
                <div class="loginput">
                    <label for="qtype">问题类型</label>
                    <input type="text" id="qtype">
                </div>
                <div class="loginput">
                    <label for="qscript">问题简述</label>
                    <input type="text" name="" id="qscript" placeholder="不超过20字">
                </div>
                <div class="loginput">
                    <label for="finish">完成时间</label>
                    <input type="text" id="finish">
                </div>
                <div class="loginput">
                    <label for="status">完成情况</label>
                    <input type="text" id="status">
                </div>
                <div class="notediv">
                    <label for="note">备注</label>
                    <textarea name="" id="note" cols="30" rows="3" placeholder="不超过30字"></textarea>
                </div>
                <div class="loginput">
                    <span class="buttonspan">
                        <input type="submit" class="button" id="" value="添加">
                    </span>
                    <span class="buttonspan">
                        <input type="reset" class="button" id="" value="重置">
                    </span>
                </div>
            </form>
        </span>
        <span class="chartbox">
            <table class="table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>开始时间</th>
                        <th>科室</th>
                        <th>问题归类</th>
                        <th>问题描述</th>
                        <th>完成时间</th>
                        <th>处理结果</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12</td>
                        <td>123</td>
                        <td>123</td>
                        <td>123123</td>
                        <td>123123</td>
                        <td>123</td>
                        <td>45</td>
                        <td>78678</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
        </span>

    </div>
</body>

</html>