<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mainpage.css" />
    <title>沧县医院WORKLOG</title>
</head>

<body>
    <div class="logo">
        <h2>
            <span>
                <a href="#">沧县医院</a>
            </span>
        </h2>
    </div>
    <div id="topbox">
        <center>
            <ul>
                <li>工作日志</li>
                <li>设置</li>
                <li>XX</li>
                <li>XX</li>
            </ul>
        </center>
    </div>
</body>

</html>