<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>

<body>
    <h3>账号注册</h3>
    <table>
        <tr>
            <td>
                <label for="mingzi">姓名</label>
                <input type="text" id="mingzi">
            </td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <label for="nan">男</label>
                <input type="radio" id="nan" name="sex">
                <label for="nv">女</label>
                <input type="radio" id="nv" name="sex">
            </td>
        </tr>
        <tr>
            <td>角色</td>
            <td>
                <select>
                    <option selected>医师</option>
                    <option>护士</option>
                    <option>药师</option>
                    <option>主任</option>
                    <option>院长</option>
                    <option>副主任</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>所在科室</td>
            <td>
                <select>
                    <option>信息科</option>
                    <option>妇科</option>
                    <option>儿科</option>
                    <option>内科</option>
                    <option>财务科</option>
                    <option>设备科</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="mima">密码</label>
                <input type="password" id="mima" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="qrmima">确认密码</label>
                <input type="password" id="qrmima" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交">
            </td>
            <td>
                <input type="reset" value="重置">
            </td>
        </tr>
    </table>
</body>

</html>